*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    
}
body{
    background-color: rgb(201, 201, 177);
}
.row-limit-size {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}
.flex{
    display: flex;
}
                            /*HEADER*/
.head-top{
    display: flex;
    justify-content: center;
    background-color: black;
    z-index: 200;
}
                        /*menu ligne*/
.menu-ligne{
    position: absolute;
    top: 15em;
    
}
.menu-ligne > ul > li {
    position: relative;
    
}
.menu-ligne > ul > li > a {
    
    height: 80px;
    line-height: 80px;
    padding: 0 2em;
    font-family:libre baskerville;
    color: #ffffff;
 
}

@media screen and (max-width:800px) {
    .menu-ligne{
        display: none;
    }
    
}



                        /*menu burger responsive*/
.menu{
    opacity: 0;
}
@media screen and (max-width:800px) {
    .menu{
        opacity: 1;
        
    }
    
}
#burger{
    
    position: absolute;
    top: 0.5em;
    right: 1em;
    
}

button{
    background-color: black;
    border: 2px solid black;
}

    


.main-menu{
    visibility: hidden;
    position: absolute;
    width: 100%;
    
    top:320px ;
    left: 0;
    background-color: rgb(0, 0, 0);
    transition:1s;
    transform:translateY(-420px) ;
    z-index: 1;
    
    
    
}
.main-menu.active{

visibility: visible;

transform:translateY(0);



}
.main-menu ul{
    
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    
}
.main-menu li:not(.petitebordure){
    width: 100%;
    
}
.main-menu a {
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    padding: 0;
    width: 100%;
    color: #fff;
    
    
}


.petitebordure{
    width: 6em;
    height: 0.05em;
    background-color:rgb(255, 255, 255);
    box-shadow: 1px 1px 1px #222;

    
}

.bordurelignetop {
    margin:0 auto;
    margin-top: 2.5em;
    width: 22%;
    height: 0.05em;
    background-color:rgb(73, 70, 70); 
}
.bordurelignebottom{
    margin:0 auto;
    margin-bottom: 2.5em;
    width: 22%;
    height: 0.05em;
    background-color:rgb(73, 70, 70);
}


.main-menu > ul > li > a {
    
    flex-direction: column;
    display: block;
    height: 80px;
    line-height: 80px;
    
    font-family: Arial, Helvetica, sans-serif;
    
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
}



                                                    /*MAIN*/

.page01{
    
    display: flex;
    
    display: inline;
    text-align: center;
    align-items: center;
    
    height: 20px;
    
}
.imgpage001{
    
    width: 100%;
}

.imgpage01{
    border-radius: 1em;
    max-width:100% ;
}
.img2p2{
    position: relative;
    bottom: -4px;
    
}
.texte01{
    
    width: 70%;
    font-family:libre baskerville;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 19px;
    text-align: justify;
}
        /*texte page service*/
.texte02 {
    text-align: justify;
    text-align: center;
    width: 70%;
    max-width: 30em ;
    
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 0 auto;
    font-family: libre baskerville;
}
main > .texte02 > span{
    display: block;
    margin-bottom: 10px;
    margin-top: 70px;
    font-weight: bold;
    font-family:libre baskerville;
    font-size: 22px;
    
    
}


        /*fin texte page service*/
main > .texte01 > span{
    display: block;
    
    font-weight: bold;
    font-family:libre baskerville;
    font-size: 22px;
    
}
                    /*Galerie*/
.titregalerie{
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
    font-family: libre baskerville;
    font-size: 3em;
}
.galerietatouage  {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    
}       


.imggalerie:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease-out ;
}
.imggalerie{
    margin: 2em;
}
                                                /*FOOTER*/

 /*max-width, si l'écran est inferieur ou égal, alors {...}*/
 /*max-width = desktop-first*/
 /*min-width = mobile-first*/
 /*min-width, si l'écran est supérieur ou égal, alors{...}*/  
 
 
@media screen and (max-width: 800px) {
    .footertext{
        opacity: 0;
    }
    
}




.footer01{
    
    display: flex;
    background-color:black;
    height: 30em;
    justify-content: space-around;
    width: 100%;
}
.footerlogo{
    display: flex;
    align-items: center;
    
}
.pictofooter{
    display: flex;
    align-items: center;
    margin-right: 1em;
    gap: 1em;
    
    
}


@media screen and (max-width:800px) {
    .pictofooter{
        flex-direction: column;
        justify-content: center;
        transform: scale(0.8);
        
        
    }
    
    
    
}

.footertext{
    display: flex;
    align-items: center;
    font-family: libre baskerville;
    text-align: center;
    
    
    
    font-size: 1.1em;
    color: white;
}

                /*picto info contact*/

.infocontact{
    text-align: center;
    
}
.pictocontact{
    font-family: libre baskerville;
    margin: 2em;
}

                /* formulaire/maps page contact*/
.googlemaps{
    margin-left: 5em;
    
}

.formulaire {
    position: relative;
    bottom: 2em;
    margin:1em;
    width: 350px;
    border: 1px solid #222;
    background-color: transparent;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 5px #222;
    font-family: libre baskerville;
}
.formumaps{
    display: flex;
    justify-content: space-around;

}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input, select {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttonformu {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonformu:hover {
    background-color: #45a049;
}





    

